binds {
	Mod+Space hotkey-overlay-title="Run an Application: Noctalia" { spawn-sh "noctalia msg panel-toggle launcher"; }
	Mod+S hotkey-overlay-title="Noctalia: Settings" { spawn-sh "noctalia msg settings-toggle"; }
    Mod+Ctrl+N hotkey-overlay-title="Noctalia: DND Toggle" { spawn-sh "noctalia msg notification-dnd-toggle"; }
    Mod+Shift+P hotkey-overlay-title="Noctalia: Session Menu" { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+D hotkey-overlay-title="Noctalia: Overview" { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Control+W hotkey-overlay-title="Noctalia: Wallpaper Menu" { spawn-sh "noctalia msg panel-toggle wallpaper"; }

    // Mod+N hotkey-overlay-title="Noctalia: Notifications" { spawn-sh "qs -c noctalia-shell ipc call notifications toggleHistory"; }
    // Mod+Alt+S hotkey-overlay-title="Noctalia: Toggle Screen Recording" { spawn-sh "qs -c noctalia-shell ipc call plugin:screen-recorder toggle"; }
    // Mod+Control+M hotkey-overlay-title="Noctalia: Media Menu" { spawn-sh "qs -c noctalia-shell ipc call media toggle"; }
}
