[bar]
order = ["primary", "secondary"]

[bar.primary]
background_opacity = 0.5
center = [ "summary_2" ]
{{ if eq .chezmoi.hostname "nyx" }}
end = [ "clock", "date", "tray", "widget", "recorder", "bar", "weather", "volume" ]
{{ else if eq .chezmoi.hostname "hermes" }}
end = ["tray", "network", "bluetooth", "volume", "brightness", "battery", "clipboard"]
{{ end }}
margin_ends = 10
position = "top"
radius = 15
scale = 1.0
start = [ "notifications", "workspaces", "bar_2", "active_window" ]
thickness = 30
widget_spacing = 8

[widget.bar]
type = "icefish/phone-connect:bar"

[widget.bar_2]
type = "noctalia/umbriel-companion:bar"

[widget.clock]
format = "{:%H:%M:%S}"

[widget.media]
capsule = false
max_length = 550.0
min_length = 100.0

[widget.notifications]
capsule = false
capsule_padding = 15.0

[widget.summary_2]
show_gpu_temperature = "off"
show_gpu_usage = "off"
show_gpu_vram = "off"
show_swap = false
type = "tmelik/system-monitor:summary"

[widget.sysmon]
stat = "disk_pct"

[widget.weather]
capsule = false
show_condition = false

[widget.workspaces]
show_labels = false
