[shell]
avatar_path = "/home/wolf/Pictures/pfp/Midra.jpg"
font_family = "Fira Sans"
niri_overview_type_to_launch_enabled = true
polkit_agent = true
telemetry_enabled = false
{{ if eq .chezmoi.hostname "nyx" }}
ui_scale = 1.0
{{ else if eq .chezmoi.hostname "hermes" }}
ui_scale = 1.1000000238418579
{{ end }}

[shell.screenshot]
directory = "/home/wolf/Pictures/Screenshots"
filename_pattern = "%Y_%m-%d_%H:%M:%S"

[[shell.session.actions]]
action = "lock"
countdown_seconds = 0.0
enabled = true
shortcut = "l"
variant = "default"

[[shell.session.actions]]
action = "logout"
countdown_seconds = 5.0
enabled = true
shortcut = "o"
variant = "default"

[[shell.session.actions]]
action = "suspend"
countdown_seconds = 5.0
enabled = true
shortcut = "u"
variant = "default"

[[shell.session.actions]]
action = "reboot"
countdown_seconds = 5.0
enabled = true
shortcut = "r"
variant = "default"

[[shell.session.actions]]
action = "shutdown"
countdown_seconds = 5.0
enabled = true
shortcut = "s"
variant = "destructive"

[shell.panel]
attach_session = true
attach_launcher = true
clipboard_placement = "attached"
transparency_mode = "glass"
