[shell]
avatar_path = "/home/wolf/Pictures/pfp/Midra.jpg"
font_family = "Fira Sans"
niri_overview_type_to_launch_enabled = true
polkit_agent = true
telemetry_enabled = false
{{ if eq .chezmoi.hostname "nyx" }}
ui_scale = 1.0
{{ else if eq .chezmoi.hostname "hermes" }}
ui_scale = 1.1000000238418579
{{ end }}

[shell.panel]
attach_session = true
attach_launcher = true
clipboard_placement = "attached"
transparency_mode = "glass"
