{{ if (eq .chezmoi.hostname "nyx") }}
[{
{{ else }}
{
{{ end }}
    // -------------------------------------------------------------------------
    // Global configuration
    // -------------------------------------------------------------------------

    "layer": "bottom",

    {{ if (eq .chezmoi.hostname "nyx") }}
    "output": "DP-1",
    {{ end }}

    "position": "top",

    "height": 28,
    "width": 1,

    "margin-left": 10,
    "margin-bottom": 0,
    "margin-right": 10,

    "spacing": 5, // Gaps between modules (4px)

    "reload_style_on_change": true,

    "include": [
        "~/.config/waybar/modules.json",
    ],

    "modules-left": [
        "hyprland/workspaces",
        "hyprland/window"
        //"temperature"
        //"custom/rofi",
        //"hyprland/submap",
        //"idle_inhibitor",
        //"mpd"
        //"custom/spotify"
    ],
    "modules-center": [
        "custom/media"
    ],

{{ if (eq .chezmoi.hostname "nyx") }}
    "modules-right": [
        "custom/weather",
        //"backlight",
        "wireplumber",
        //"custom/screenshot_t",
        "tray",
        "custom/pacman",
        "network",
        "clock",
        "custom/swaync"
        //"custom/power"
        //"custom/storage",
        //"memory",
        //"cpu",
        //"battery",
        //"pulseaudio",
    ],
{{ else if (eq .chezmoi.hostname "lykaon") }}
    "modules-right": [
        "custom/weather",
        "backlight",
        "wireplumber",
        //"custom/screenshot_t",
        "tray",
        "custom/pacman",
        "network",
        "clock",
        "battery"
        //"custom/power"
        //"custom/storage",
        //"memory",
        //"cpu",
        //"pulseaudio",
    ],
{{ end }}

{{ if (eq .chezmoi.hostname "nyx") }}
},
{
    // -------------------------------------------------------------------------
    // Global configuration
    // -------------------------------------------------------------------------

    "layer": "bottom",
    "output": "HDMI-A-1",
    "position": "top",

    "height": 28,
    "width": 1,

    "margin-left": 10,
    "margin-bottom": 0,
    "margin-right": 10,

    "spacing": 5, // Gaps between modules (4px)

    "reload_style_on_change": true,

    "include": [
        "~/.config/waybar/modules.json",
    ],

    "modules-left": [
        "clock",
        "network",
        "custom/pacman",
        "tray",
        //"custom/screenshot_t",
        "wireplumber",
        "custom/weather"
        //"backlight",
        //"custom/power"
        //"custom/storage",
        //"memory",
        //"cpu",
        //"battery",
        //"pulseaudio",
    ],


    "modules-center": [
        "custom/media"
    ],

    "modules-right": [
        "hyprland/window",
        "hyprland/workspaces",
        "custom/swaync"
        //"temperature"
        //"custom/rofi",
        //"hyprland/submap",
        //"idle_inhibitor",
        //"mpd"
        //"custom/spotify"
    ],
}]
{{ else }}
}
{{ end }}
