@import url("/home/wolf/.cache/wal/colors-waybar.css");

* {
    font-family: "Hack", monospace;
}

window {
    background-color: @background;
    border-radius: 14px;
}

#input {
    margin: 5px;
    border-radius: 14;
    border: none;
    background-color: @background;
    color: @foreground;
}

#inner-box {
    background-color: @background;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: @background;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: @foreground;
}

#entry:nth-child(even){
    background-color: @color8;
}

#entry:selected {
    background-color: @color1;
}

#text:selected {
    background: transparent;
}
