// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
spawn-sh-at-startup "wal -R"
spawn-at-startup "noctalia-shell"
// spawn-sh-at-startup "qs -c noctalia-shell"
// spawn-sh-at-startup "~/.config/wal/scripts/noctalia"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "mpDris2"
spawn-at-startup "swww-daemon"
spawn-at-startup "musicpresence"

