{{ if eq .chezmoi.hostname "nyx" }}
spawn-at-startup "noctalia-shell"
{{ else if eq .chezmoi.hostname "hermes" }}
spawn-sh-at-startup "dms run"
{{ end }}
spawn-at-startup "xwayland-satellite"
spawn-at-startup "mpDris2"
spawn-at-startup "musicpresence"
spawn-sh-at-startup "emacs --daemon"
