# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                     Defaults Configuration                  ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

$cursorTheme = phinger-cursors-dark
$cursorSize = 24
$filemanager = 
# $applauncher = rofi -show combi -modi window,run,combi -combi-modi window,run
# $applauncher = wofi -S drun,run
$applauncher = walker
$terminal = wezterm
$idlehandler = swayidle -w timeout 300 'swaylock -f -c 000000' before-sleep 'swaylock -f -c 000000'
# $capturing = grim -g "$(slurp)" - | swappy -f -
$capturing = grimblast --notify --freeze copysave area
$capturingScreen = grimblast --notify --freeze copysave output
